<div class="dash-header" style="margin-left: -15px" >
  <div class="d-flex">
    <div class="align-self-center d-block">&nbsp;</div>
    <h1 class="mb-0">Survey Requests</h1>
    <input class="form-control w-50 ml-auto mr-3" placeholder="Search" [(ngModel)]="searchParam">
  </div>
</div>

<div class="m-t-90" *ngIf="surveyArr.length!==0">
<div class="row">
  <div class="col-md-4">
    <div style="height: 82vh; overflow-y: auto">
      <ng-container *ngFor="let item of surveyArr">
        <div *ngIf="item.status!='publish' && item.status!='paid'" style="cursor: pointer">
        <div class="request-card mb-2" *ngIf="item?.title.toLowerCase().includes(searchParam?.toLowerCase()) ||
        item?.budget.includes(searchParam) || (searchParam.length == 0);" [ngClass]="{'selected': item._id==selectedId}"
             (click)="selectSurvey(item._id, item?.questions , item);" >
            <div class="d-block align-self-center">
              <h4 class="mb-0">{{item.title}}</h4>
              <div class="text-right" *ngIf="item.status">
                <img src="/assets/images/{{item.status}}.png" width="20">
              </div>
              <p class="mb-0 text-left font-weight-bolder">Budget: {{item.budget | number}} {{item.coin}}</p>
            </div>
        </div>
        </div>
      </ng-container>
    </div>
  </div>

    <div class="col-md-8" *ngIf="SelectedSurvey">
    <div class="request-card mb-2">
      <div class="d-flex justify-content-between pb-2">
        <div class="d-flex">
          <div class="image-cont align-self-center p-2" style="background-color: #0a6b93;border-radius: 10px">
            <img class="align-self-center" src="{{baseURL}}{{SelectedSurvey?.category?.url}}" style="height: 50px;width: 50px">
          </div>
          <div class="align-self-center ml-2">
            <h5 class="font-weight-bold">{{SelectedSurvey?.title}}</h5>
            <p class="mb-0" *ngIf="SelectedSurvey?.category?.name">{{SelectedSurvey?.category?.name | titlecase }}</p>
          </div>
        </div>
          <div class="ml-auto" *ngIf="SelectedSurvey?.status === 'pending'">
            <button class="btn btn-secondary mr-2 px-4" (click)="statusApproveChange(SelectedSurvey._id)">Approve</button>
            <button class="btn btn-danger mr-2 px-4" (click)="open(rejectcontent)">Reject</button>
          </div>
          <div class="ml-auto" *ngIf="SelectedSurvey?.status === 'survey_approved'">
            <button class="btn btn-success mr-2 px-4">Approved</button>
          </div>
          <div class="ml-auto" *ngIf="SelectedSurvey?.status === 'survey_rejected'">
            <button class="btn btn-danger mr-2 px-4">Rejected</button>
          </div>
      </div>

      <div style="height: 75vh; overflow-y: auto; overflow-x: hidden">
        <div class="request-card mb-2" *ngIf="SelectedSurvey?.description">{{SelectedSurvey?.description}}</div>
        <ng-container *ngFor="let ques of SelectedSurvey?.questions; let i=index;">
        <div class="finalized-question d-flex mt-2">
          <div class="align-self-center smallQ">
            <h5 class="text-center">Q{{i+1}}</h5>
          </div>
          <div class="align-self-center">
            <p class="text-left pl-3 mb-0 w-100 d-block font-weight-bolder">{{ques.question}}</p>
          </div>
        </div>
        <div class="mt-2">
          <div class="d-flex justify-content-center flex-wrap" >
            <ng-container *ngFor="let ans of ques.answers; let j=index;">
              <div class="mr-3 mb-3 ans-pills" >
                <p class="mb-0 font-weight-bold" style="width: fit-content; white-space: nowrap">{{j+1}} : {{ans.answer}} </p>
              </div>
            </ng-container>
          </div>
        </div>
        </ng-container>
        <hr>
        <h3 class="mb-3">Target Audience</h3>
        <div style="font-size: 14px;">
        <div class="d-flex mb-2">
          <div class="ml-10">
            <p class="mb-4 mt-3" *ngIf="SelectedSurvey?.age"><span class="label-t">Age : </span>
              <span class="ans-pills" *ngIf="SelectedSurvey?.age.min ==='all' && SelectedSurvey?.age.max ==='all'">All</span>
              <span class="ans-pills" *ngIf="SelectedSurvey?.age.min!=='all' && SelectedSurvey?.age.max!=='all'">
                {{SelectedSurvey?.age.min}} - {{SelectedSurvey?.age.max}}
              </span>
            </p>
            <p class="mb-4" *ngIf="SelectedSurvey?.gender.name"><span class="label-t">Gender : </span>
              <ng-container *ngFor="let gen of SelectedSurvey?.gender.name" class="d-flex">
                <span class="ans-pills mb-4" *ngIf="gen">{{gen | titlecase}}</span>&nbsp;
              </ng-container>
            </p>
            <p class="mb-4" *ngIf="SelectedSurvey?.relationStatus.name"><span class="label-t">Relationship : </span>
              <ng-container *ngFor="let rel of SelectedSurvey?.relationStatus.name" class="d-flex">
                <span class="ans-pills" *ngIf="rel">{{rel | titlecase}}</span>&nbsp;
              </ng-container>
            </p>
            <div class="mb-4 d-flex w-100">
              <span class="label-t">Country : </span>
              <div class="d-flex flex-wrap">
              <span class="ans-pills mr-2 mt-2" *ngFor="let cont of SelectedSurvey?.country?.name">{{cont | titlecase}}</span>
              </div>
            </div>

            <div class="mb-4 d-flex w-100">
              <span class="label-t">Nationality : </span>
              <div class="d-flex flex-wrap">
                <span class="ans-pills mr-2 mt-2" *ngFor="let nat of SelectedSurvey?.nationality?.name">{{nat | titlecase}}</span>
              </div>
            </div>

            <div class="mb-4 d-flex w-100">
              <span class="label-t">Language : </span>
              <div class="d-flex flex-wrap">
                <span class="ans-pills mr-2 mt-2" *ngFor="let lang of SelectedSurvey?.languages?.name">{{lang | titlecase}}</span>
              </div>
            </div>

            <div class="mb-4 d-flex w-100">
              <span class="label-t">Total participent : </span>
              <div class="d-flex flex-wrap">
                <span class="ans-pills mr-2" *ngIf="SelectedSurvey?.participent">{{SelectedSurvey?.participent}}</span>
              </div>
            </div>

            <!--<p class="mb-4" *ngIf="item?.alchohol"><span class="label-t">Drinking :</span>
              <span class="ans-pills">
                <span> {{item?.alchohol?.isDrinking | titlecase}} </span>
              </span>
            </p>
            <p class="mb-4" *ngIf="item?.smoke"><span class="label-t">Smoking :</span>
              <span class="ans-pills">
                <span> {{item?.smoke?.isSmoking | titlecase}} </span>
              </span>
            </p>-->
            <!--<div class="d-flex mt-2" *ngIf="item?.familyMembers.min || item?.familyMembers.max">
  <p class="mb-4 mr-3" style="max-width: 50%">Family Members: </p>
  <span class="d-flex flex-wrap" style="max-width: 50%">
    <span class="ans-pills mr-2 mb-2">
        <span>{{item?.familyMembers.min}} - {{item?.familyMembers.max}}</span>
      </span>
  </span>
</div>

<div class="d-flex mt-2" *ngIf="item?.educationLevel && item?.educationLevel.length > 0">
  <p class="mb-4 mr-3" style="max-width: 50%">Education Level: </p>
  <span class="d-flex flex-wrap" style="max-width: 50%">
      <ng-container *ngFor="let edu of item?.educationLevel">
      <span class="ans-pills mr-2 mb-2">
          <span>{{edu | titlecase}}</span>
        </span>
      </ng-container>
  </span>
</div>

<div class="d-flex mt-2" *ngIf="item?.alchohol && item?.alchohol.alchohol && item?.alchohol.alchohol.length > 0">
  <p class="mb-4 mr-3" style="max-width: 50%">Alchohol: </p>
    <span class="d-flex flex-wrap" style="max-width: 50%">
      <ng-container *ngFor="let alco of item?.alchohol.alchohol">
      <span class="ans-pills mr-2 mb-2">
          <span>{{alco | titlecase}}</span>
        </span>
      </ng-container>
  </span>
</div>

<div class="d-flex mt-2" *ngIf="item?.smoke && item?.smoke.smoke && item?.smoke?.smoke.length > 0">
  <p class="mb-4 mr-3">Smoke: </p>
  <span class="d-flex flex-wrap" style="max-width: 50%">
      <ng-container *ngFor="let smk of item?.smoke.smoke">
      <span class="ans-pills mr-2 mb-2">
          <span>{{smk | titlecase}}</span> &nbsp;
        </span>
      </ng-container>
  </span>
</div>

<div class="d-flex mt-2" *ngIf="item?.cuisines && item?.cuisines.length > 0">
  <p class="mb-4 mr-3">Cuisines: </p>
  <span class="d-flex flex-wrap" style="max-width: 50%">
      <ng-container *ngFor="let cuis of item?.cuisines">
      <span class="ans-pills mr-2 mb-2">
          <span>{{cuis | titlecase}}</span> &nbsp;
        </span>
      </ng-container>
  </span>
</div>

<div class="d-flex mt-2" *ngIf="item?.industries && item?.industries.length > 0">
  <p class="mb-4 mr-3">Industries: </p>
  <span class="d-flex flex-wrap" style="max-width: 50%">
      <ng-container *ngFor="let indus of item?.industries">
      <span class="ans-pills mr-2 mb-2">
          <span>{{indus | titlecase}}</span> &nbsp;
        </span>
      </ng-container>
  </span>
</div>

<div class="d-flex mt-2" *ngIf="item?.interest && item?.interest.length > 0">
  <p class="mb-4 mr-3">Interest: </p>
  <span class="d-flex flex-wrap" style="max-width: 50%">
      <ng-container *ngFor="let inter of item?.interest">
      <span class="ans-pills mr-2 mb-2">
          <span>{{inter | titlecase}}</span> &nbsp;
        </span>
      </ng-container>
  </span>
</div>

<div class="d-flex mt-2" *ngIf="item?.invest && item?.invest.length > 0">
  <p class="mb-4 mr-3">Investment: </p>
  <span class="d-flex flex-wrap" style="max-width: 50%">
      <ng-container *ngFor="let inves of item?.invest">
      <span class="ans-pills mr-2 mb-2">
          <span>{{inves | titlecase}}</span> &nbsp;
        </span>
      </ng-container>
  </span>
</div>

<div class="d-flex mt-2" *ngIf="item?.religion && item?.religion.length > 0">
  <p class="mb-4 mr-3">Religion: </p>
  <span class="d-flex flex-wrap" style="max-width: 50%">
      <ng-container *ngFor="let relig of item?.religion">
      <span class="ans-pills mr-2 mb-2">
          <span>{{relig | titlecase}}</span> &nbsp;
        </span>
      </ng-container>
  </span>
</div>

<div class="d-flex mt-2" *ngIf="item?.revenue.min || item?.revenue.max">
    <p class="mb-4 mr-3">Revenue:</p>
  <span class="d-flex flex-wrap" style="max-width: 50%">
      <span class="ans-pills mr-2 mb-2" *ngIf="item?.revenue.max">
        {{item?.revenue.min | number}} - {{item?.revenue.max | number}}
      </span>
     <span class="ans-pills mr-2 mb-2" *ngIf="!item?.revenue.max">
        {{item?.revenue.min | number}}
      </span>
  </span>
</div>

<div class="d-flex mt-2" *ngIf="item?.sns && item?.sns.length > 0">
  <p class="mb-4 mr-3">Social: </p>
  <span class="d-flex flex-wrap" style="max-width: 50%">
      <ng-container *ngFor="let social of item?.sns">
      <span class="ans-pills mr-2 mb-2">
          <span>{{social | titlecase}}</span> &nbsp;
        </span>
      </ng-container>
  </span>
</div>-->
        </div>
        </div>

        </div>

        <h3 class="mb-3" *ngIf="SelectedSurvey?.banner?.bannerVideo!=='' || SelectedSurvey?.banner?.banner!==''">Ads</h3>
        <div class="d-flex mb-5">
          <div>
            <div class="d-flex">
              <p class="mb-4" *ngIf="SelectedSurvey?.banner?.url"><span class="d-inline-block mr-2">URL : </span>
                <span class="ans-pills">{{SelectedSurvey?.banner?.url}}</span>
              </p>
            </div>
            <p class="mb-4 mr-3" *ngIf="SelectedSurvey?.banner?.banner">
              <img height="130"
                   *ngIf="SelectedSurvey?.banner.banner.substr(SelectedSurvey?.banner.banner.length - 3) === 'jpg'
             || SelectedSurvey?.banner.banner.substr(SelectedSurvey?.banner.banner.length - 3) === 'png'
             || SelectedSurvey?.banner.banner.substr(SelectedSurvey?.banner.banner.length - 4) === 'jpeg'"
                   style="width: 100%;object-fit: cover" src="{{baseURL}}{{SelectedSurvey?.banner.banner}}">
            </p>

            <p class="mb-4 mr-3 mt-3" *ngIf="SelectedSurvey?.banner?.bannerVideo!==''">
              <video width="100%" height="240" controls
                     *ngIf="SelectedSurvey?.banner?.bannerVideo.substr(SelectedSurvey?.banner?.bannerVideo.length - 3) === 'mp4'">
                <source src="{{baseURL}}{{SelectedSurvey?.banner?.bannerVideo}}" type="video/mp4">
              </video>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>


<ng-template #rejectcontent let-modal>
  <div class="modal-header d-flex justify-content-between">
    <h4 class="modal-title align-self-center" id="modal-basic-title55">Reject</h4>
    <button type="button" class="close align-self-center" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="rejectForm" enctype="multipart/form-data">
    <div class="modal-body">
      <div class="mb-2 mt-2">
        <p class="mb-2"><span style="vertical-align: top">Reason :</span> &nbsp;
          <textarea class="form-control rounded-0" formControlName="message" rows="5" cols="40"></textarea>
        </p>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-custom px-4 d-block m-auto" [disabled]="rejectForm.invalid"
              (click)="statusRejectChange(SelectedSurvey._id); modal.dismiss('Cross click')">Reject</button>
    </div>
  </form>
</ng-template>
