<div class="dash-header" style="margin-left: -15px;" >
  <div class="d-flex">
    <h1 class="mb-0">Categories</h1>
    <input class="form-control w-50 ml-auto mr-3"  placeholder="Search" [(ngModel)]="rSearch">
  </div>
</div>

<div class="m-t-100">
  <div class="row">
    <div class="col-md-6">
      <div class="request-card mb-0" style="border-bottom-right-radius: 0; border-bottom-left-radius: 0">
        <h5 class="font-weight-bold my-3 c-555 b-600">Add Category</h5>
        <form  [formGroup]="myForm"  [enctype]="'multipart/form-data'">
          <label class="mt-3">Upload Media</label>
          <div class="d-flex">
            <label class="custom-file-label-f align-self-center text-center mr-auto d-block flex-fill" for="file">
              <img  src="assets/images/upload-image.svg" height="40px" class="m-auto" >
              <span class="d-block" *ngIf="!fileName" style="font-size: 12px; white-space: nowrap"> Upload Image </span>
              <span class="d-block" *ngIf="fileName" style="font-size: 12px ;white-space: nowrap" >{{fileName}}</span>
            </label>
          </div>
          <div class="d-flex w-100 justify-content-between">
            <p class="c-555 small">Image : JPG/JPEG , PNG</p>
          </div>
          <input type="file" class="custom-file-input" name="file" id="file"
                 (change)="onFileSelect($event)" accept="image/jpeg, image/png , image/jpg">
          <div class="d-flex mt-4">
            <label class="flex-fill align-self-center" style="min-width: 160px">Name</label>
            <input type="text" formControlName="name" class="form-control flex-fill align-self-center"
                   placeholder="Enter Category Name">
          </div>
          <p *ngIf="fileCheck == false" style="width: 100%;font-weight: 500; color: #d44e4e;text-align: center">Invalid file type. Only .png .jpg .jpeg are supported</p>
          <p *ngIf="imageFileSizeCheck == false" style=" width: 100%;font-weight: 500; color: #d44e4e;text-align: center">Invalid file Size. Maximum Image File Size(1MB) Exceeded</p>
          <p class="mt-3 text-center"><b>{{message | titlecase}}</b></p>
        </form>
      </div>
      <button class="btn btn-custom btn-bottom m-auto d-block" [disabled]="myForm.invalid || fileCheck !== true"
              (click)="addCategory()">Add &nbsp;<i *ngIf="loader == false" class="fa fa-plus"></i>
        <i *ngIf="loader == true" class="fa fa-circle-o-notch fa-spin fa-fw"></i></button>
    </div>
    <div class="col-md-4 mb-5 expand-left">
      <ng-container *ngFor="let cat of CategoryData" >
        <div  *ngIf="cat?.name.toLowerCase().includes(rSearch.toLowerCase())">
          <div class="p-1" (click)="CategoryData.name = cat.name ; CategoryData.url = cat.icon" >
            <div class="d-flex w-100 categories-list" >
              <div class="image-cont align-self-center p-2">
                <img class="align-self-center" src="{{baseURL}}{{cat?.icon}}" style="height: 50px;width: 50px">
              </div>
              <h5 class="align-self-center mb-0 b-600 ml-3">{{cat?.name}} </h5>
              <i class="align-self-center fa fa-close ml-auto mr-3" (click)="deleteCategory(cat?._id)" style="cursor: pointer"></i>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #error let-modal>
  <div class="modal-body">
    <h4>{{'deleteErr'| translate}}</h4>
  </div>
  <div class="modal-footer">
    <button class="d-block m-auto px-5 btn btn-custom" (click)="modal.close()">{{'Done' | translate}}</button>
  </div>
</ng-template>
