<div class="dash-header" style="margin-left: -15px;" >
  <div class="d-flex">
  <h1 class="mb-0">Sponsors</h1>
  <input class="form-control w-50 ml-auto mr-3" placeholder="Search" [(ngModel)]="searchParam">
  </div>
</div>
<div class="m-t-90">
  <div class="row">
    <div class="col-md-8">
      <table class="table mt-3">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Contact</th>
          <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of requestData; let i=index;">
        <tr *ngIf="item?.email.toLowerCase().includes(searchParam.toLowerCase()) || item?.contact.includes(searchParam.toLowerCase()) || (searchParam.length === 0);" >
          <td>{{i+1}}</td>
          <td>{{item.email}}</td>
          <td>{{item.contact}}</td>
          <td>{{item.createdAt | date}}</td>
        </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
