<div class="container mt-4">
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="form-container px-md-5">
      <h2 class="text-center mt-3"> Admin Login</h2><hr>
      <form [formGroup]="myForm" enctype="multipart/form-data">
      <label class="mt-3">Email</label>
      <input class="form-control" placeholder="Email Address" type="email" email formControlName="email">
      <label class="mt-3">Password</label>
      <input class="form-control mb-4" placeholder="Password" type="password" formControlName="password">
      <button class="btn btn-custom  d-block m-auto px-5" (click)="doLogin()"
              [disabled]="myForm.invalid || myForm.value.password.length < 6">Login</button>
        <p class="mt-3 text-center font-weight-bold">{{message}}</p>
      </form>
    </div>
  </div>
</div>
</div>
