<div class="dash-header" style="margin-left: -15px" >
  <div class="d-flex justify-content-between">
    <h1 class="mb-0">Insights</h1>
    <input *ngIf="showChart===false" class="form-control w-50 ml-auto mr-3" [(ngModel)]="searchParam" placeholder="Search">
  </div>
</div>
<div class="m-t-90">
<div class="row">
  <div class="col-md-12">
    <table class="table mt-3 table-striped" *ngIf="showtableResult===true">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Allocated Budget</th>
        <th scope="col">Total Participent</th>
        <th scope="col">Progress</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of mysurveylist; let i=index;">
        <tr class="request-card mb-2 mr-2" [ngClass]="{'card-selected': SelectedSurveyID === item?._id}"
            *ngIf="item?.title.toLowerCase().includes(searchParam.toLowerCase()) || (searchParam.length == 0)"
            (click)="SelectedOneSurvey(item?._id , item?.questions, item, item?.title)">
          <td>{{i+1}}</td>
          <td><p class="mb-0 font-weight-bold">{{item?.title | titlecase}}</p></td>
          <td>{{item?.startAt | date}}</td>
          <td>{{item?.endAt | date}}</td>
          <td><b>{{item?.allocated_budget}} {{item?.coin}}</b></td>
          <td> <h3>{{item?.counter}}/{{item?.participent}}</h3></td>
          <td style="min-width: 250px">
            <div class="progress mb-2 mt-2">
              <div class="progress-bar" role="progressbar"
                     [ngStyle]="{'width': item?.counter/item?.participent * 100 +'%'}" aria-valuenow='0'
                     aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </td>
          <td><button class="btn-sm btn btn-info px-4" style="height: 30px; background-color: #38d84e"
                      *ngIf="item?.status ==='publish'">{{item?.survey_status | titlecase}}</button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div class="col-md-12 " *ngIf="showChart===true">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard/reports">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{SelectedSurveyTitle}}</li>
        </ol>
      </nav>
  </div>

  <div class="col-md-6 pr-0" *ngIf="showChart===true">
    <div class="request-card mb-2 rounded-0">
      <div *ngIf="SelectedSurvey">
        <div class=" mb-2">
          <div class="d-flex justify-content-between pb-2">
            <div class="d-flex">
              <div class="image-cont align-self-center p-2" style="background-color: #0a6b93;border-radius: 10px">
                <img class="align-self-center" src="{{baseURL}}{{SelectedSurvey?.category?.url}}" style="height: 50px;width: 50px">
              </div>
              <div class="align-self-center ml-2">
                <h5 class="font-weight-bold">{{SelectedSurvey?.title}}</h5>
                <p class="mb-0" *ngIf="SelectedSurvey?.category?.name">{{SelectedSurvey?.category?.name | titlecase }}</p>
              </div>
            </div>
            <div class="justify-content-between">
              <div class="example-config">
                <button class="k-button" (click)="pdf.saveAs('auto-paging.pdf')">
                  Save As PDF...
                </button>
                <p class="mb-0 mt-3 font-weight-light">Participated:
                  <span class="font-weight-bold">{{SelectedSurvey?.counter}} out of {{SelectedSurvey?.participent}}</span>
                </p>
              </div>
            </div>
          </div>
          <hr>
          <div class="mb-2" *ngIf="SelectedSurvey?.description">{{SelectedSurvey?.description}}</div>
        </div>
      </div>
  <div class="font-weight-bold">
    <ng-container *ngFor="let qu of SelectedQuestions; let q = index">
        <div class="mt-2"  (click)="GenerateGraphs(qu?.q_id, qu?.question)" style="cursor: pointer">
        <div class="finalized-question d-flex mt-2" [ngClass]="{'allqns': SelectedQId === qu?.q_id}">
          <div class="align-self-center smallQ">
            <h5 class="text-center">Q{{q+1}}</h5>
          </div>
          <div class="align-self-center">
            <p class="text-left pl-3 mb-0 w-100 d-block font-weight-bolder">{{qu.question}}</p>
          </div>
        </div>
        <div class="row mt-2" *ngFor="let ans of qu?.answers; let i =index">
          <div class="col-md-5 offset-md-1">
            <p class="mb-0 font-weight-bold"> {{i+1}} : {{ans?.answer}}</p>
          </div>
          <ng-container *ngFor="let count of filteredArr; let x = index">
            <ng-template [ngIf]="qu?.q_id.toString() === count?.Q && ans?.a_id.toString() === count?.A">
              <div class="col-md-4">
                <div class="progress mb-2 mt-2">
                  <div class="progress-bar" style="color: rgba(0,180,0,0.72)" role="progressbar" [ngStyle]="{'width': count?.V/SelectedSurvey?.counter * 100 +'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                </div>
              </div>
              <div class="col-md-2">
                <p class="mb-0">
                  <b>{{count?.V}}</b>
                </p>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

      <!--printing-template-->
      <div style="position: absolute; left: -1000px; top: 0;width: 600px">  <!--style="position: absolute; left: -1000px; top: 0;width: 600px"-->
        <kendo-pdf-export #pdf paperSize="A4" margin="1cm" [keepTogether]="keepTogether">
          <div *ngFor="let qu of SelectedQuestions; let q = index" class="avoid-break">
            <div style="cursor: pointer" class="question-report ">
              <div class="d-flex">
                <img class="align-self-center" src="assets/images/logo.png" height="40px">
                <h4 class="align-self-center ml-3 mb-0">Real Research</h4>
                <p class="ml-auto mb-0 align-self-center" style="font-size: 10px !important;">Date : {{currentDate | date}}</p>
              </div>
              <hr>
              <div class="mb-2">
                  <div class="d-flex justify-content-between p-2">
                    <p><small>Survey: {{SelectedSurvey.title}}</small> </p>
                      <p class="mb-0 font-weight-light text-right"
                         *ngIf="SelectedSurvey?.category?.name"><small>Category:
                        {{SelectedSurvey?.category?.name | titlecase }}</small></p>
                  </div>
              </div>
              <div class="finalized-question d-flex mt-2">
                <div class="align-self-center smallQ">
                  <h5 class="text-center">Q{{q+1}}</h5>
                </div>
                <div class="align-self-center">
                  <p class="text-left pl-3 mb-0 w-100 d-block" >{{qu.question}}</p>
                </div>
              </div>
              <div class="row mt-2" *ngIf="doughnutChartData[qu?.question]">
                <div class="graph-container-pie">
                  <canvas baseChart
                          [data]="doughnutChartData[qu?.question]"
                          [labels]="doughnutChartLabels[qu?.question]"
                          [chartType]="doughnutChartType"
                          [options]="pieChartOptions"
                          [legend]="pieChartLegend"
                          [plugins]="pieChartPlugins"
                  >
                  </canvas>
                </div>
              </div>
              <div class="row mt-2 exp-ans" *ngFor="let ans of qu?.answers; let i =index">
                <div class="col-md-4 offset-md-1">
                  <p class="mb-0"> {{i+1}} : {{ans?.answer}}</p>
                </div>
                <ng-container *ngFor="let count of filteredArr; let x = index">
                  <ng-template [ngIf]="qu?.q_id.toString() === count?.Q && ans?.a_id.toString() === count?.A">
                    <div class="col-md-3 mt-2">
                      <div class="progress mb-2 ">
                        <div class="progress-bar" style="color: rgba(0,180,0,0.72)" role="progressbar" [ngStyle]="{'width': count?.V/SelectedSurvey?.counter * 100 +'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                      </div>
                    </div>
                    <div class="col-md-1  exp-ans">
                      <p class="mb-0">
                        {{count?.V}}
                      </p>
                    </div>
                    <div class="col-md-2  exp-ans pr-0 pl-0">
                      <p class="mb-0" style="color: #6e7888 !important;">
                        {{(count?.V/SelectedSurvey?.counter * 100) | number : '1.2-2' }} %
                      </p>
                    </div>
                  </ng-template>
                </ng-container>
              </div>
            </div>
            <div style="margin-top: 30px">
              <hr>
              <p class="text-center" style="font-size: 8px !important;">Copyrights - Real Research 2020</p>
            </div>
          </div>
        </kendo-pdf-export>
      </div>
    </div>
  </div>
  <div class="col-md-6 pl-0" *ngIf="showChart===true">
    <div class="request-card mb-2 rounded-0" #htmlData>
      <h4 class="text-center notranslate">{{SelectedQuestion}}</h4>
      <hr>
      <div id="chart" class="notranslate">
        <apx-chart [series]="pieChartData[SelectedQuestion]" [fill]="chartOptions.fill"
                   [chart]="chartOptions.chart" [labels]="pieChartSeries[SelectedQuestion]"
                   [responsive]="chartOptions.responsive"></apx-chart>
        <apx-chart [series]="chartOptionsBr.series[SelectedQuestion]"  [chart]="chartOptionsBr.chart"
                   [labels]="pieChartSeries[SelectedQuestion]">
        </apx-chart>
      </div>
    </div>
  </div>
</div>
</div>
