<div class="dash-header" style="margin-left: -15px" >
  <div class="d-flex">
    <div class="align-self-center d-block">&nbsp;</div>
    <h1 class="mb-0 align-self-center mr-3">Schedule</h1>
    <input class="form-control flex-fill ml-auto mr-4 ml-3 align-self-center" placeholder="Search" [(ngModel)]="searchParam">
    <div class="align-self-center ml-auto">
      <p class="mb-0 " style="white-space: nowrap">Wallet Balance</p>
      <p class="mb-0 font-weight-bold" style="white-space: nowrap">{{ShowBudget?.available_balance | number}}</p>
    </div>
    <div class="align-self-center ml-4">
    <p class="mb-0 " style="white-space: nowrap">Allocated Budget</p>
    <p class="mb-0 font-weight-bold" style="white-space: nowrap">{{ShowBudget?.allocated_budget | number}}</p>
    </div>
    <div class="align-self-center ml-4 mr-4">
      <p class="mb-0 " style="white-space: nowrap">Available Budget</p>
      <p class="mb-0 font-weight-bold" style="white-space: nowrap">{{ShowBudget?.available_balance - ShowBudget?.allocated_budget | number}}</p>
    </div>
  </div>
</div>
<div class="m-t-90">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hoverless">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Survey Title</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Budget</th>
          <th scope="col">TXID</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of requestData; let i=index;">
          <tr *ngIf="requestData.includes(searchParam) || item?.title.toLowerCase().includes(searchParam.toLowerCase()) ||
        item?.budget.includes(searchParam) || item?.txid.includes(searchParam)">
            <td>{{i+1}}</td>
            <th scope="row">{{item.title}}</th>
            <td>{{item.startAt | date}}</td>
            <td>{{item.endAt | date}}</td>
            <td><b>{{item.budget| number}} {{item.coin}}</b></td>
            <td>
              <a href="https://etherscan.io/tx/{{t}}" target="_blank" class="d-block"
                 *ngFor="let t of item?.tnc_txid" style="max-width: 200px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap"> <b>TNC :</b> <ng-container >{{t}}</ng-container></a>
            </td>
            <td style="width: 352px">
              <button class="btn btn-sm btn-custom px-4" (click)="statusInfo(item._id , paydetails)">
                <i class="fa fa-clock-o"></i> Schedule to Publish</button>
              <button class="btn btn-sm btn-danger px-4 ml-2" (click)="open(rejectcontent, item)">
                <i class="fa fa-ban"></i> Decline </button>
            </td>
        </tr>
        <ng-template #paydetails let-modal>
          <form [formGroup]="myForm" enctype="multipart/form-data">
          <div class="modal-body">
            <h2 class="text-center">Payment Details</h2>
            <h1 class="mt-3 mb-3 text-center" style="font-size: 70px"> <i class="fa fa-cubes"> </i></h1>
            <div class="d-flex justify-content-between">
              <div class="flex-fill align-self-center p-3 sticker">
                <h5 class="text-center mb-0">Budget</h5>
                <p class="font-weight-bold mt-3 px-3 text-center mb-0"> {{item.budget}} {{item.coin}}</p>
              </div>
              <div class="flex-fill align-self-center p-3 sticker ml-2"
                   [ngClass]="{'danger-bg' : ShowBudget.available_balance - ShowBudget.allocated_budget < 0,
                    'success-bg' : ShowBudget.available_balance - ShowBudget.allocated_budget > myForm.value.budget
                    } " >
                <h5 class="text-center mb-0">Available Budget</h5>
                <p class="font-weight-bold mt-3 px-3 text-center mb-0">  {{ShowBudget.available_balance - ShowBudget.allocated_budget}} TNC</p>
              </div>
            </div>

            <p class="font-weight-bold mt-3 px-3" *ngIf="item.txid">TxId: {{item.txid}}</p>
              <label class="mt-3 px-3">TNC Amount</label>
              <input class="form-control" placeholder="TNC Amount" type="number" maxlength="10"
                     formControlName="budget" pattern="^[0-9-]*$">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary px-4 d-block m-auto" [disabled]="myForm.invalid || ShowBudget.available_balance - ShowBudget.allocated_budget < myForm.value.budget"
                    (click)="statusChange(item._id , content); modal.dismiss('Cross click')">Schedule to Publish</button>
          </div>
          </form>
        </ng-template>

        <ng-template #rejectcontent let-modal>
          <div class="modal-header d-flex justify-content-between">
            <h4 class="modal-title align-self-center" id="modal-basic-title">Reject</h4>
            <button type="button" class="close align-self-center" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form [formGroup]="rejectForm" enctype="multipart/form-data">
            <div class="modal-body">
              <div class="mb-2 mt-2">
                  <p class="mb-2"><span style="vertical-align: top">Reason :</span> &nbsp;</p>
                  <textarea class="form-control rounded-0" formControlName="message" rows="5" cols="40"></textarea>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-custom px-4 d-block m-auto" [disabled]="rejectForm.invalid"
                      (click)="statusRejectChange(item._id , content); modal.dismiss('Cross click')">Reject</button>
            </div>
          </form>
        </ng-template>

        </ng-container>
        <tr *ngIf="requestData?.length <= 0">
          <td colspan="7" class="px-7">No records</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-body">
    <h1 class="mt-3 mb-3 text-center" style="font-size: 70px"> <i class="fa fa-exclamation-circle"> </i></h1>
    <h2 class="text-center">Insufficient Balance</h2>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary px-4 d-block m-auto" (click)="modal.dismiss('Cross click')">Ok</button>
  </div>
</ng-template>
