<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 p-0">
      <div class="side-navigation">
        <div class="d-md-block w-100 d-flex mt-4">
          <img class="mt-2 d-block m-auto hover-disabled align-self-center" height="150" src="assets/images/logo.png">
        </div>
        <div class="d-block w-100 mt-4">
          <div class="list-group w-100">
            <a class="list-group-item" href="/dashboard/reports"
                [ngClass]="{'active' :this.route.url === '/dashboard/reports'}"><b><i class="fa fa-area-chart"></i> Insights</b></a>
            <a class="list-group-item" routerLink="/dashboard/surveys"
                [ngClass]="{'active' :this.route.url === '/dashboard/surveys'}"><b><i class="fa fa-flag-o"></i> Survey Requests</b></a>
            <a class="list-group-item" routerLink="/dashboard/schedule"
                [ngClass]="{'active' :this.route.url === '/dashboard/schedule'}"><b><i class="fa fa-clock-o"></i> Schedule</b></a>
            <!--<a class="list-group-item" routerLink="/dashboard/sponsors"
                [ngClass]="{'active' :this.route.url === '/dashboard/sponsors'}"><b><i class="fa fa-users"></i>
              Sponsors</b></a>-->
            <a class="list-group-item" routerLink="/dashboard/users"
               [ngClass]="{'active' :this.route.url === '/dashboard/users'}"><b><i class="fa fa-user"></i> Users</b></a>
            <a class="list-group-item" routerLink="/dashboard/categories"
                [ngClass]="{'active' :this.route.url === '/dashboard/categories'}"><b><i class="fa fa-puzzle-piece"></i> Categories</b></a>
          </div>
        </div>
        <div class="d-md-block d-none mt-auto logout">
          <ul class="list-group w-100">
            <li class="list-group-item" (click)="doLogout()"> <i class="fa fa-sign-out"></i> Logout</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <app-reports *ngIf="this.route.url === '/dashboard/reports'"></app-reports>
      <app-survays *ngIf="this.route.url === '/dashboard/surveys'"></app-survays>
      <app-ads *ngIf="this.route.url === '/dashboard/sponsors'"></app-ads>
      <app-users *ngIf="this.route.url === '/dashboard/users'"></app-users>
      <app-categories *ngIf="this.route.url === '/dashboard/categories'"></app-categories>
      <app-payment-request *ngIf="this.route.url === '/dashboard/schedule'"></app-payment-request >
    </div>
  </div>
</div>
