.side-navigation{
  position: fixed;
  width: 16.666667%;
  background-color: #fff;
  height: 100vh;
  border-radius: 0 !important;
  color: black;
  .list-group-item{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border-radius: 0;
    outline: none;
  }
  .active{
    background: rgb(10,104,144);
    background: linear-gradient(149deg, rgba(10,104,144,1) 0%, rgba(13,225,249,1) 100%);
    color: white;
    font-weight: bolder;
    outline: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-right: 10px;
  }
  .list-group-item:hover{
    background-color: rgba(97, 97, 97, 0.04);
    cursor: pointer;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-right: 10px;
  }
  .hover-disabled{

  }
  .hover-disabled:hover{
    background-color: inherit !important;
  }
}

.m-t-100{
  margin-top: 100px;
}
.m-t-90{
  margin-top: 90px;
}
.text-width-light{
  font-weight: lighter !important;
}
.request-card{
  background-color: rgb(255, 255, 255);
  padding: 22px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.04)
}
.dash-header{
  position: fixed;
  padding: 10px;
  width: 84%;
  z-index: 999;
  background-color: white;
  box-shadow: 20px 1px 20px 5px rgba(0, 0, 0, 0.09);
}
.text-shrink{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sticker{
  background: #f6f6f6;
  padding: 4px;
  border-radius: 6px;
}
.c-button{
  border: 5px solid rgba(0, 0, 0, 0.11);
  padding: 2px;
  border-radius: 100%;
  cursor: pointer;
}
.c-button-selected{
  border: 5px solid #2196f3;
}
qr-code{
  width: 200px;
}
.logout{
  position: absolute;
  width: 100%;
  bottom: 5px;
}
.selection-type:hover , .selection-active{
  border: 2px solid rgba(0, 0, 0, 0.13);
  cursor: pointer;

}
.selection-active{
  background-color: #f2ffee;
}
.question-options{
  padding: 10px;
  color: #000000;
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  height: fit-content;
}
.finalized-question{
  border: 1px solid #ededed;
  box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.04);
  background-color: white;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.sample-selected{
  background-color: orange;
  color: white;
}
.finalized-question h1{
  padding: 10px;
  background-color: orange;
  color: white;
  margin-bottom: 0px;
}
.finalized-question .smallQ{
  padding: 10px 5px 5px;
  background-color: orange;
  color: white;
  margin-bottom: 0px;
}
.text-frame{
  height: 752px;
  position: absolute;
  top: 0;
  width: 370px;
  z-index: 9999;
  padding: 100px 40px 100px 40px ;
}
.currency-box {
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    outline: none;
  }
  .currency-drop{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #f6f6f6;
    color: black;
    min-width: 100px;
    border: 2px solid rgba(133, 37, 72, 0.09);
    border-left: 0;
  }
  .form-control:focus{
    box-shadow: none !important;
    border: 2px solid rgba(133, 37, 72, 0.09);
  }
}
.btn-default{
  background-color: #ffffff;
  color: #686f7d;
}
.btn-default:focus{
  box-shadow: none;
}
.progress{
  height: 10px;
  border-radius: 50px;
}
.button-picked{
  color: black;
  font-weight: bold;
  border: none !important;
  box-shadow: none !important;
}
@media only screen and (max-width: 600px) {
  .m-t-90{
    margin-top: 20px;
  }
  .dash-header{
    position: static;
    margin-top: 200px;
  }
  .side-navigation{
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: auto;
    .list-group{
      display: flex;
      width: auto;
      justify-content: center;
      flex-direction: row;
      .list-group-item{
        font-size: small;
        white-space: nowrap;
        padding: 10px;
      }
    }
  }
}
.custom-file-label-f{
  background: #eeeeee;
  padding: 20px;
  cursor: pointer;
  font-size: large;
  border-radius: 10px;
  border: 2px dashed rgba(0, 0, 0, 0.09);
}
.custom-file-input{
  top: auto !important;
  position: absolute;
}

.request-card.mb-2.selected, .card-selected {
  background: linear-gradient(149deg, #0a6890 0%, #0de1f9 100%);
  color: #fff;
}
.progress-bar {
  background-color: #0ddcf4;
}
.ans-pills{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  white-space: nowrap;
  background-color: rgba(0,0,0,0.07)
}
.label-t{
  min-width: 100px;
  display: inline-block;
}
.table td, .table th{
  vertical-align: middle;
}
.table{
  background-color: white;
}
.table {
  font-size: 13px;
  background: white;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(210 210 210 / 5%);
}
a:hover{
  text-decoration: none;
}

.table tr:hover, .allqns{
  background: linear-gradient(149deg, #0a6890 0%, #0de1f9 100%);
  cursor: pointer;
  color: white;
  margin-right: 10px;
}
.table-hoverless a{
  color: #191919;
  text-decoration: none !important;
  cursor: pointer;
}
.table-hoverless a:hover{
  color: #0a6890;
}
.table-hoverless tr:hover{
  background: #ffffff;
  color: #000000;
  cursor: unset;
}

.ques-selected {
  background: linear-gradient(149deg, #0a6890 0%, #0de1f9 100%);
  color: white;
  cursor: pointer;
}



.card-selected{
  color: white;
  background:  linear-gradient(149deg, rgba(10,104,144,1) 0%, rgba(13,225,249,1) 100%);
  outline: none !important;
}
.t-tag{
  min-width: 150px;
}
.question-report{
  p{
    font-size: 14px !important;
  }
}
@font-face {
  font-family: 'NanumGothic';
  src: url('../../assets/fonts/NanumGothic-regular.ttf') format('truetype');
}
kendo-pdf-export {
  font-family: 'NanumGothic';
}
.graph-container-pie{
  display: block;
  height: auto;
  width: 86%;
}
.lang-bar {
  p{
    background-color: rgba(255, 255, 255, 0.07);
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
  .selected{
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
  }
}
kendo-pdf-document {
  .Selected-Q {
    font-size: 12px !important;
    background: #f6f6f6 !important;
    color: #000000 !important;
  }
  .finalized-question{
    background: #f6f6f6 !important;
    h5{
      font-size: 14px !important;
    }
  }
  .exp-ans p{
    font-size: 12px !important;
  }
  .mt-2{
    margin-top: 3px !important;
  }
  .mb-2{
    margin-top: 3px !important;
  }
  .graph-container-pie{
    display: block;
    width: 50% !important;
    margin-bottom: 30px;
    margin-top: 10px;
  }

}
.filter-Selected{
  background-color: #a6ebfc;
}


.categories-list{
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  overflow: hidden;
  .image-cont{
    background-color: #1d6b8d;
  }
}
.categories-list-selected{
  background-color: #ebf2f5;
}


