/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}

body{
  font-family: "Barlow",Arial,Helvetica,sans-serif;
  font-weight: normal;
  background-color: #f4f4f6;
}
.font-sm{
  font-size: 12px;
}
.dropdown-item{
  cursor: pointer;
}
.form-container{
  background-color: #fff;
  border: 2px solid #eeeeee;
  padding: 15px;
  border-radius: 15px;
}
h1,h2,h3,h4{
  font-weight: 900;
}
.btn , .nav-item , label , .form-control{
  font-weight: bold;
}
.btn{
  border-radius: 25px;
  height: 45px;
  border: none;
}
.btn-bottom{
  height: 80px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  width: 100%;
  box-shadow: 0px 15px 12px 5px rgba(0, 0, 0, 0.05);
}
.btn-custom-o:hover{
  background: #f8f8f8;
  color: rgb(10, 93, 133) !important;
  border: 2px solid rgba(10, 104, 144, 0.2);
}
.form-control{
  border: 2px solid #ebf2f5;
  height: 40px;
  border-radius: 25px;
  padding-left: 30px;
  font-size: 14px;
}
.btn-secondary{
  background-color: #2196f3;
}
@keyframes active {
  0%   {border-bottom:  5px solid #ffffff;}
  100% {border-bottom:  5px solid #2196f3;}
}
.nav-pills{
  border-radius: 0;
  background-color: white;
  .nav-link{
    color: #919191;
    border-radius: 0;
    background-color: white !important;
  }
  .active{
    color: #2196f3 !important;
    background-color: white !important;
    border-bottom: 5px solid #2196f3;
    animation-name: active;
    animation-duration: 1.5s;
  }
}

.text-green{
  color: #52b246;
}
.text-blue{
  color: #2196f3;
}
.text-grey{
  color: #393e48;
}
.modal-header .close{
  margin: unset !important;
  outline:none !important;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 50%;
  span{
    line-height: 20px;
    width: 20px;
    height: 20px;
    display: block;
  }
}
.modal-header .close:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.07) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.28);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.btn-outline-info{
  background: white;
}
.btn-custom{
  background: rgb(10,104,144);
  background: linear-gradient(149deg, rgba(10,104,144,1) 0%, rgba(13,225,249,1) 100%);
  color: white!important;
}
.page-item.active a.page-link {
  background-color: #0698C1;
  border-color: #0698C1;
}

.page-link {
  color: #0698C1;;
}
