<div class="dash-header" style="margin-left: -15px;" >
  <div class="d-flex">
    <h1 class="mb-0">Users</h1>
    <input class="form-control w-50 ml-auto mr-3" placeholder="Search"
           [(ngModel)]="searchParam" (keyup)="filterData()" *ngIf="showsearch === true && dataResult === 1">

    <input class="form-control w-50 ml-auto mr-3" placeholder="Search"
           [(ngModel)]="searchCompParam" (keyup)="filterAllData()" *ngIf="dataResult === 2">
  </div>
</div>

<div class="m-t-90">
  <div class="d-flex justify-content-end">
    <div class="d-block ml-2">
      <button type="button" class="btn btn-outline-info d-block m-auto px-4" (click)="allData()"
              [ngClass]="{'btn-custom' : dataResult === 1 }">All ({{allDataCnt}})</button>
    </div>
    <div class="d-block ml-2">
      <button type="button" class="btn btn-outline-info d-block m-auto px-4" (click)="completeData();"
              [ngClass]="{'btn-custom' : dataResult === 2 }">Complete KYC ({{compDataCnt}})</button>
    </div>
    <div class="d-block ml-2">
      <button type="button" class="btn btn-outline-info d-block m-auto px-4" (click)="inCompleteData()"
              [ngClass]="{'btn-custom' : dataResult === 3 }">Incomplete KYC ({{incompDataCnt}})</button>
    </div>
  </div>

  <div class="row">
    <div class="col-3 mb-5" >
      <div class="d-block p-3">
        <p>Age: </p>
        <ng5-slider [(value)]="filterArr.minAge" [(highValue)]="filterArr.maxAge"
                    [options]="ageoptions" (valueChange)="completeData()" ></ng5-slider>
      </div>

      <div class="d-block p-3">
        <p>Gender: </p>
        <select class="form-control" name="gender" [(ngModel)]="filterArr.gender" (change)="completeData()">
          <option value="">All</option>
          <option value="0">Female</option>
          <option value="1">Male</option>
          <option value="2">Rather not to tell</option>
        </select>
      </div>

      <div class="d-block p-3">
        <p>Relationship: </p>
        <select class="form-control" name="relationStatus" [(ngModel)]="filterArr.relationStatus"
                (change)="completeData()">
          <option value="">All</option>
          <option value="0">Single, never married</option>
          <option value="1">Domestic partership</option>
          <option value="2">Married</option>
          <option value="3">Separated</option>
        </select>
      </div>

      <div class="d-block p-3">
        <p>Language: </p>
          <select class="form-control" name="language" [(ngModel)]="filterArr.language" (change)="completeData()">
            <option value="">All</option>
            <option [value]="lang" *ngFor="let lang of langArr">{{lang}}</option>
          </select>
      </div>

      <div class="d-block p-3">
        <p>Nationality: </p>
        <select class="form-control" name="nationality"  [(ngModel)]="filterArr.nationality" (change)="completeData()">
          <option value="">All</option>
          <option [value]="nation" *ngFor="let nation of nationalityArr">{{nation}}</option>
        </select>
      </div>

      <div class="d-block p-3">
        <p>Country: </p>
        <select class="form-control" name="country" [(ngModel)]="filterArr.country" (change)="completeData()">
          <option value="">All</option>
            <option [value]="cntry" *ngFor="let cntry of cntryArr">{{cntry}}</option>
        </select>
      </div>

      <!--<div class="d-block p-3">
        <p>City: </p>
        <select class="form-control" name="city" [(ngModel)]="filterArr.city" (change)="completeData()">
          <option value="">All</option>
          <option [value]="city" *ngFor="let city of cityArr">{{city}}</option>
        </select>
      </div>

      <div class="d-block p-3">
        <p>Interest: </p>
        <select class="form-control" name="interest" [(ngModel)]="filterArr.interest" (change)="completeData()">
          <option value="">All</option>
          <option [value]="intst" *ngFor="let intst of interestArr">{{intst}}</option>
        </select>
      </div>

      <div class="d-block p-3">
        <p>Cuisines: </p>
        <select class="form-control" name="interest" [(ngModel)]="filterArr.cuisines" (change)="completeData()">
          <option value="">All</option>
          <option [value]="cuisin" *ngFor="let cuisin of cuisinesArr">{{cuisin}}</option>
        </select>
      </div>-->

    </div>

    <div class="col-9" >
      <div *ngIf="dataResult==1">
        <table class="table mt-3 table-striped">
        <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Wallet Address</th>
          <th scope="col">Contact</th>
          <th scope="col">KYC Status</th>
          <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of requestData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i=index; ">
            <tr (click)="open(content)">
            <td>{{((page - 1) * 10 ) + (i + 1)}}</td>
            <td>{{item.email}}</td>
            <td>{{item.wallet}}</td>
            <td>{{item.contact}}</td>
            <td>
              <span *ngIf="item?.kycStatus ==='completed'">
                <h5 class="text-success"><i class="fa fa-check"></i></h5>
              </span>
              <span *ngIf="!item?.kycStatus || item?.kycStatus !=='completed'">
                <h5 class="text-danger"><i class="fa fa-minus-circle"></i></h5>
              </span>
            </td>
            <td>
              <div (click)="open(content)"><i class="fa fa-external-link"></i></div>
            </td>
          </tr>
          <ng-template #content let-modal>
            <div class="modal-header d-flex justify-content-between">
              <h4 class="modal-title align-self-center" id="modal-basic-title">User Information</h4>
              <button type="button" class="close align-self-center" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="mb-2 mt-2" *ngIf="item?.gender">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Gender:</p>
                  <span class="ans-pills mb-2 mr-2" *ngIf="item?.gender==='0'">Female</span>
                  <span class="ans-pills mb-2 mr-2" *ngIf="item?.gender==='1'">Male</span>
                  <span class="ans-pills mb-2 mr-2" *ngIf="item?.gender==='2'">Rather not to tell</span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.age">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">DOB:</p>
                  <span class="ans-pills mb-2 mr-2">{{item.age | date}}</span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.relationStatus">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Relationship:</p>
                  <span class="ans-pills mb-2 mr-2" *ngIf="item?.relationStatus==='0'">Single, never married</span>
                  <span class="ans-pills mb-2 mr-2" *ngIf="item?.relationStatus==='1'">Domestic partership</span>
                  <span class="ans-pills mb-2 mr-2" *ngIf="item?.relationStatus==='2'">Married</span>
                  <span class="ans-pills mb-2 mr-2" *ngIf="item?.relationStatus==='3'">Separated</span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.languages && item?.languages.length > 0">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Languages:</p>
                  <span *ngFor="let lang of item?.languages">
                             <span class="ans-pills mb-2 mr-2">{{lang}}</span> &nbsp;
                          </span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.educationLevel">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Education Level:</p>
                  <span class="ans-pills mb-2 mr-2">{{item?.educationLevel}}</span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.familyMembers">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Family Members:</p>
                  <span class="ans-pills mb-2 mr-2">{{item?.familyMembers}}</span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.alchohol">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Drinking :</p>
                  <span class="ans-pills mb-2 mr-2">
                            {{item?.alchohol?.isDrinking}}
                        </span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.alchohol && item?.alchohol.alchohol && item?.alchohol.alchohol.length > 0">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Alchohol:</p>
                  <span class="d-flex flex-wrap" >
                            <span *ngFor="let alco of item?.alchohol.alchohol" class="ans-pills mb-2 mr-2">{{alco}}</span>
                        </span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.smoke">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Smoking :</p>
                  <span class="ans-pills mb-2 mr-2">
                            {{item?.smoke?.isSmoking}}
                        </span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.smoke && item?.smoke.smoke && item?.smoke.smoke.length > 0">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Smoke:</p>
                  <span class="d-flex flex-wrap" >
                          <span *ngFor="let smk of item?.smoke.smoke" class="ans-pills mb-2 mr-2">{{smk}}</span>
                        </span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.cuisines && item?.cuisines.length > 0">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Cuisines :</p>
                  <span class="d-flex flex-wrap">
                      <span class="ans-pills mb-2 mr-2" *ngFor="let cuis of item?.cuisines">{{cuis}}</span>
                      </span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.industries && item?.industries.length > 0">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Industries :</p>
                  <span class="d-flex flex-wrap">
                       <span *ngFor="let indus of item?.industries" class="ans-pills mb-2 mr-2">{{indus}}</span>
                      </span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.interest && item?.interest.length > 0">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Interests :</p>
                  <span class="d-flex flex-wrap">
                       <span *ngFor="let inte of item?.interest" class="ans-pills mb-2 mr-2">{{inte}}</span>
                      </span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.news && item?.news.length > 0">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">News:</p>
                  <span class="d-flex flex-wrap" >
                       <span *ngFor="let news of item?.news" class="ans-pills mb-2 mr-2">{{news}}</span>
                      </span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.sns && item?.sns.length > 0">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Social:</p>
                  <span class="d-flex flex-wrap" >
                          <span *ngFor="let snsk of item?.sns" class="ans-pills mb-2 mr-2">{{snsk}}</span>
                      </span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.religion">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Religion:</p>
                  <span class="ans-pills">{{item.religion}}</span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.revenue">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Revenue:</p>
                  <span class="ans-pills">{{item.revenue}}</span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.city">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">City:</p>
                  <span class="ans-pills">{{item.city}}</span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.country">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Country:</p>
                  <span class="ans-pills">{{item.country}}</span>
                </div>
              </div>
              <div class="mb-2 mt-2" *ngIf="item?.nationality">
                <div class="d-flex mb-4 mt-4">
                  <p class="mb-2" style="min-width: 150px">Nationality:</p>
                  <span class="ans-pills">{{item.nationality}}</span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-custom px-4 d-block m-auto"
                      (click)="modal.dismiss('Cross click')">Ok</button>
            </div>
          </ng-template>
        </ng-container>
        </tbody>
        </table>
        <ngb-pagination [collectionSize]="requestData.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>

      <div *ngIf="dataResult==2">
        <table class="table mt-3 table-striped">
          <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Wallet Address</th>
            <th scope="col">Contact</th>
            <th scope="col">KYC Status</th>
            <th scope="col">&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of crequestData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i=index;">
            <tr *ngIf="(item?.gender && item?.gender.includes(filterArr?.gender) ) &&
            (item?.relationStatus && item?.relationStatus.includes(filterArr?.relationStatus) || filterArr.relationStatus === '') &&
            (item?.nationality && item?.nationality.includes(filterArr.nationality) || filterArr.nationality === '') &&
            (item?.country && item?.country.includes(filterArr.country) || filterArr.country === '') &&
            (item?.city && item?.city.includes(filterArr.city) || filterArr.city === '') &&
            (item?.languages && item?.languages.includes(filterArr.language) || filterArr.language === '') &&
            (item?.cuisines && item?.cuisines.includes(filterArr.cuisines) || filterArr.cuisines === '') &&
            (item?.interest && item?.interest.includes(filterArr.interest) || filterArr.interest === '') &&
            (CalculateAge(item?.age) >= filterArr.minAge && CalculateAge(item?.age) <= filterArr.maxAge)"
                (click)="open(content)">
              <td>{{((page - 1) * 10 ) + (i + 1)}}</td>
              <td>{{item.email}}</td>
              <td>{{item.wallet}}</td>
              <td>{{item.contact}}</td>
              <td>
                <span *ngIf="item?.kycStatus && item?.kycStatus ==='completed'">
                  <h5 class="text-success"><i class="fa fa-check"></i></h5>
                </span>
                  <span *ngIf="!item?.kycStatus || item?.kycStatus !=='completed'">
                  <h5 class="text-danger"><i class="fa fa-minus-circle"></i></h5>
                </span>
              </td>
              <td>
                <div (click)="open(content)"  *ngIf="item?.wallet && item.contact && item.gender && item.age && item.languages.length>0 &&
            item.relationStatus && item.city && item.languages.length>0 && item.relationStatus && item.city &&
            item.country && item.nationality"><i class="fa fa-external-link"></i></div>
                <ng-template #content let-modal>
                  <div class="modal-header d-flex justify-content-between">
                    <h4 class="modal-title align-self-center" id="modal-basic-title">User Information</h4>
                    <button type="button" class="close align-self-center" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-2 mt-2" *ngIf="item?.gender">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Gender:</p>
                        <span class="ans-pills mb-2 mr-2" *ngIf="item?.gender==='0'">Female</span>
                        <span class="ans-pills mb-2 mr-2" *ngIf="item?.gender==='1'">Male</span>
                        <span class="ans-pills mb-2 mr-2" *ngIf="item?.gender==='2'">Rather not to tell</span>
                      </div>
                    </div>
                    <div class="mb-2 mt-2" *ngIf="item?.age">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">DOB:</p>
                        <span class="ans-pills mb-2 mr-2">{{item.age}}</span>
                      </div>
                    </div>
                    <div class="mb-2 mt-2" *ngIf="item?.relationStatus">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Martial Status:</p>
                        <span class="ans-pills mb-2 mr-2" *ngIf="item?.relationStatus==='0'">Single, never married</span>
                        <span class="ans-pills mb-2 mr-2" *ngIf="item?.relationStatus==='1'">Domestic partership</span>
                        <span class="ans-pills mb-2 mr-2" *ngIf="item?.relationStatus==='2'">Married</span>
                        <span class="ans-pills mb-2 mr-2" *ngIf="item?.relationStatus==='3'">Separated</span>
                      </div>
                    </div>
                    <div class="mb-2 mt-2" *ngIf="item?.languages && item?.languages.length > 0">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Languages:</p>
                        <span *ngFor="let lang of item?.languages">
                             <span class="ans-pills mb-2 mr-2">{{lang}}</span> &nbsp;
                          </span>
                      </div>
                    </div>

                    <div class="mb-2 mt-2" *ngIf="item?.educationLevel">
                      <div class="mb-2 mt-2" *ngIf="item?.cuisines && item?.cuisines.length > 0">
                        <div class="d-flex mb-4 mt-4">
                          <p class="mb-2" style="min-width: 150px">Education Level :</p>
                          <span class="ans-pills mb-2 mr-2">{{item?.educationLevel}}</span>
                        </div>
                      </div>
                    </div>

                    <div class="mb-2 mt-2" *ngIf="item?.familyMembers">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Family Members:</p>
                        <span class="ans-pills mb-2 mr-2">{{item?.familyMembers}}</span>
                      </div>
                    </div>

                    <div class="mb-2 mt-2" *ngIf="item?.alchohol">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Drinking :</p>
                        <span class="ans-pills mb-2 mr-2">
                            {{item?.alchohol?.isDrinking}}
                        </span>
                      </div>
                    </div>

                    <div class="mb-2 mt-2" *ngIf="item?.alchohol && item?.alchohol.alchohol && item?.alchohol.alchohol.length > 0">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Alchohol:</p>
                        <span class="d-flex flex-wrap" >
                            <span *ngFor="let alco of item?.alchohol.alchohol" class="ans-pills mb-2 mr-2">{{alco}}</span>
                        </span>
                      </div>
                    </div>

                    <div class="mb-2 mt-2" *ngIf="item?.smoke">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Smoking :</p>
                        <span class="ans-pills mb-2 mr-2">
                            {{item?.smoke?.isSmoking}}
                        </span>
                      </div>
                    </div>

                    <div class="mb-2 mt-2" *ngIf="item?.smoke && item?.smoke.smoke && item?.smoke.smoke.length > 0">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Smoke:</p>
                        <span class="d-flex flex-wrap" >
                          <span *ngFor="let smk of item?.smoke.smoke" class="ans-pills mb-2 mr-2">{{smk}}</span>
                        </span>
                      </div>
                    </div>

                    <div class="mb-2 mt-2" *ngIf="item?.cuisines && item?.cuisines.length > 0">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Cuisines :</p>
                        <span class="d-flex flex-wrap">
                      <span class="ans-pills mb-2 mr-2" *ngFor="let cuis of item?.cuisines">{{cuis}}</span>
                      </span>
                      </div>
                    </div>

                    <div class="mb-2 mt-2" *ngIf="item?.industries && item?.industries.length > 0">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Industries :</p>
                        <span class="d-flex flex-wrap">
                       <span *ngFor="let indus of item?.industries" class="ans-pills mb-2 mr-2">{{indus}}</span>
                      </span>
                      </div>
                    </div>

                    <div class="mb-2 mt-2" *ngIf="item?.interest && item?.interest.length > 0">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Interests :</p>
                        <span class="d-flex flex-wrap">
                       <span *ngFor="let inte of item?.interest" class="ans-pills mb-2 mr-2">{{inte}}</span>
                      </span>
                      </div>
                    </div>

                    <div class="mb-2 mt-2" *ngIf="item?.news && item?.news.length > 0">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">News:</p>
                        <span class="d-flex flex-wrap" >
                       <span *ngFor="let news of item?.news" class="ans-pills mb-2 mr-2">{{news}}</span>
                      </span>
                      </div>
                    </div>

                    <div class="mb-2 mt-2" *ngIf="item?.sns && item?.sns.length > 0">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Social:</p>
                        <span class="d-flex flex-wrap" >
                          <span *ngFor="let snsk of item?.sns" class="ans-pills mb-2 mr-2">{{snsk}}</span>
                      </span>
                      </div>
                    </div>

                    <div class="mb-2 mt-2" *ngIf="item?.religion">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Religion:</p>
                        <span class="ans-pills">{{item.religion}}</span>
                      </div>
                    </div>

                    <div class="mb-2 mt-2" *ngIf="item?.revenue">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Revenue:</p>
                        <span class="ans-pills">{{item.revenue}}</span>
                      </div>
                    </div>

                    <div class="mb-2 mt-2" *ngIf="item?.city">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">City:</p>
                        <span class="ans-pills">{{item.city}}</span>
                      </div>
                    </div>
                    <div class="mb-2 mt-2" *ngIf="item?.country">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Country:</p>
                        <span class="ans-pills">{{item.country}}</span>
                      </div>
                    </div>
                    <div class="mb-2 mt-2" *ngIf="item?.nationality">
                      <div class="d-flex mb-4 mt-4">
                        <p class="mb-2" style="min-width: 150px">Nationality:</p>
                        <span class="ans-pills">{{item.nationality}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-custom px-4 d-block m-auto"
                            (click)="modal.dismiss('Cross click')">Ok</button>
                  </div>
                </ng-template>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
        <ngb-pagination [collectionSize]="crequestData.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>

       <div *ngIf="dataResult==3">
        <table class="table mt-3 table-striped">
          <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Wallet Address</th>
            <th scope="col">Contact</th>
            <th scope="col">KYC Status</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of irequestData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i=index;">
            <tr>
              <td>{{((page - 1) * 10 ) + (i + 1)}}</td>
              <td>{{item.email}}</td>
              <td>{{item.wallet}}</td>
              <td>{{item.contact}}</td>
              <td>
                <span *ngIf="item?.kycStatus && item?.kycStatus ==='completed'">
                  <h5 class="text-success"><i class="fa fa-check"></i></h5>
                </span>
                <span *ngIf="!item?.kycStatus || item?.kycStatus !=='completed'">
                  <h5 class="text-danger"><i class="fa fa-minus-circle"></i></h5>
                </span>
              </td>
            </tr>
          </ng-container>
      </tbody>
    </table>
         <ngb-pagination [collectionSize]="irequestData.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>
  </div>
</div>
</div>
